{% extends "layout.html" %} 
{% block content %} 
<div style="text-align:center">
    <h1>All the badges can be earn</h1>
                    </div>

        <br>
    <br>
                    <hr>

<br>

<article class="article content-section">
    <div class="blog-media">
        <div class="all-badges-can-be-earn">
            <p><b>Reputation:</b><br>
            Reputation is based on the blog you had post, the more blog you had post, the more reputation you will have.<br>
         </p>
            <div class="content-section">
                <p>0 blog post is 0 Reputation<br>
                3 blog post is 273 Reputation<br>
                5 blog post is 582 Reputation<br>
                7 blog post is 785 Reputation <br>
                10 blog post is 896 Reputation<br>
                13 blog post is 1080 Reputation<br>
                15 blog post is 1296 Reputation<br>
                17 blog post is 1583 Reputation<br>
                20 blog post is 1836 Reputation<br>
                22 blog post is 2077 Reputation<br>
                25 blog post is 2106 Reputation<br>
                27 blog post is 2583 Reputation<br>
                30 blog post is 2795 Reputation<br>
                35 blog post is 3029 Reputation<br>
                37 blog post is 3183 Reputation<br>
                40 blog post is 3792 Reputation<br>
                45 blog post is 4124 Reputation<br>
                48 blog post is 4367 Reputation<br>
                52 blog post is 4701 Reputation<br>
                56 blog post is 4849 Reputation<br>
                60 blog post is 5023 Reputation<br>
                64 blog post is 5205 Reputation<br>
                68 blog post is 5482 Reputation<br>
                71 blog post is 5792 Reputation<br>
                74 blog post is 5928 Reputation<br>
                79 blog psot is 6928 Reputation<br>
                More than 79 blog post is 7000 Reputation</p>
            </div>
        <br>
                <hr>
                        <br>
            <div class="content-section">
                <div class="content-section">
                    <button type="button" class="btn btn-secondary">NONE</button>
                    <div class="badge-description">
                     If user's posts total is smaller than 10, the badges == None
                    </div>
                    <div class="clear"></div>
                </div>
                <br>
                <div class="content-section">
                    <button type="button" class="btn btn-info">SILVER</button>
                    <div class="badge-description">
                     If user's posts total is smaller than 20, the badges == SILVER
                    </div>
                    <div class="clear"></div>
                </div>
                <br>
                <div class="content-section">
                    <button type="button" class="btn btn-warning">GOLD</button>
                    <div class="badge-description">
                     If user's posts total is smaller than 45, the badges == GOLD
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
</div>
                </div>
</article>
{% endblock content %}