{% extends "layout.html" %}
{% block content %}

<!-- badges for users -->
<div class="content-section">
    <div class="user-badges"> 
      <b>Badges:</b>
      {% if posts.total < 5 %}
      <p>You don't have any badges, post more blog and improve your badges!</p>
      {% elif posts.total < 25 %}
      <p>You are now </p>
      {% elif posts.total < 45 %}
      <button type="button" class="btn btn-warning">GOLD</button>
      {% else %}
      <button type="button" class="btn btn-primary">UNLIMATE</button>
      {% endif %}
      <br>
      {% if user.id < 100 %}
      <p style="color:gold;">One of the first 100 members in here.</p>
      <br>
      <p class="text-muted">{{ user.badges.strftime('%Y-%m-%d') }}</p>
      {% elif user.id < 200 %}
      <p style="color:black;">One of the first 200 members in here.</p>
      <br>
      <p class="text-muted">{{ user.badges.strftime('%Y-%m-%d') }}</p>
      {% else %}
      {% endif %}
    </div>
  </div>


<!-- Thefakebook team-->
<div class="content-section">
    <div class="Thefakebook-for-Teams">
        <div class="new-update">
            <b>New Update:</b>
            <br>
            <p>Messages | 2020-12-2</p>
            <br>
            <p>Feedback | 2020-12-1</p>
            <br>
            <p>User profile | 2020-11-17</p>
            <br>
            <p>Footer | 2020-11-14</p>
            <br>
            <p>Inbox function | 2020-11-7</p>
            <br>
            <p>Find Tags | 2020-11-5</p>
            <br>
            <p>Find Post | 2020-11-3</p>
            <br>
            <p>Search for Users | 2020-10-30</p>
            <br>
            <p>User profile | 2020-10-26</p>
        </div>
    </div>
</div>

<!-- welcome -->
<div class="content-section">
  <div class="Thefakebook-for-Teams">
      <div class="new-update">
          <b>Welcome:</b>
          <a class="nav-item nav-link" href="/welcome/{{ current_user.username }}">Welcome to thefakebook, take some time to go throw it.</a>
      </div>
  </div>
</div>

{% endblock content %}