{% extends "layout.html" %}
{% block content %}
<h1>PRIVACY POLICY</h1>
<p>--------------------------------------------------------------------------------------------------</p>
<h4>By using this app, you agree to the collection and use of information in accordance with this policy.</h4>
<p>--------------------------------------------------------------------------------------------------</p>
<h2>INTRODUCTION TO OUR POLICY</h2>
<div class="introduction-privacy">
    <h4>This privacy policy and our related Privacy Notices (see below) describe how we</h4>
    <h4>collect, use, protect and share information about you that we collect when you use any</h4>
    <h4>of our products and services, our websites, or apps or otherwise interact with us (Services).</h4>
</div>
<p>--------------------------------------------------------------------------------------------------</p>
<h2>HOW WE COLLECT INFORMATION FROM YOU</h2>
<div class="collect-information">
    <h4>In the course of providing you access to the Network, as well as Products and Services,</h4>
    <h4>Thefakebook collects and receives personal information in a few ways, for example,</h4>
    <h4>when you set up a Thefakebook account or register for a product, newsletter or service.</h4>
    <h4>Often, you can choose what information to provide</h4>
    <h4>, but sometimes we require personal information from you to carry out certain activities such</h4>
    <h4>as account verification or registration. This section details the ways in which we collect information</h4>
    <h4>from you and how that information is received.</h4>
    <h4>Also, all your information is user's username, email and posts. And it will be saved in a database</h4>
    <h4>Don't be worry about your other information, all we collect is username email and password</h4>
</div>
<p>--------------------------------------------------------------------------------------------------</p>
<h2>WHY WE COLLECT YOUR INFORMATION</h2>
<div class="collect-information">
    <h4>This section explains why we collect your information and what we need it for.</h4>
    <h4>This is set out below, by reference to what the information is required for.</h4>
    <br>
    <h4>We collect and process your personal information in order to offer the Network,</h4>
    <h4>and to offer you our Products and Services.</h4>
    <h4>If you decline to provide us with personal information when we ask you, you may</h4>
    <h4>not be able to access all or some of our services and you may not be able to use</h4>
    <h4>the Network or certain Products and Services. For example, if you do not provide</h4>
    <h4>us with your email address or other information required for account registration</h4>
    <h4>we will not be able to register you for certain account services.</h4>
    <br>
    <b>Account registration information</b>
    <h4>We need to collect your personal information for account registration purposes.</h4>
    <h4>Although the Network provides for anonymous and pseudonymous participation,</h4>
    <h4>in some instances in order to use certain Products or Services, we require</h4>
    <h4>account registration. This requires a name associated with your accoun, an</h4>
    <h4>email address at which we can contact you, and in some cases, additional</h4>
    <h4>information including, a contact address, a billing address, and a password</h4>
    <h4>to help secure your personal information.</h4>
    <br>
    <b>Profile information</b>
    <h4>Including about you, your email</h4>
    <h4>If you feel uncomfortable with sharing personal information on Thefakebook, you don't need to</h4>
    <h4>If you don't want anyone stole your personal info, plaese don't write anything in aobut</h4>
    
</div>
<p>--------------------------------------------------------------------------------------------------</p>
<h2>INFORMATION COLLECTION AND USE</h2>
<div class="health-data">
    <h4>We will use Apple's APIs to read and/or write certain data to the Apple Health</h4>
    <h4>app on your device (the “Health Data”). Such information may include, for example:</h4>
    <p>- Username<br> - Email<br> - All the post will be saved in database</p>
    <h4>We will use your Health Data to show you the workout details and judge the heart rate zones.</h4>
    <h4>We will not use your Health Data for marketing or advertising purposes. Your Health Data will</h4>
    <h4>be accessed locally through the Apple Health and will not be stored or cached by the app.</h4>
    <h4>Your Health Data will not be sent to our server. This app cannot read from or write to the Apple</h4>
    <h4>Health without your consent.</h4>
</div>
<p>--------------------------------------------------------------------------------------------------</p>
<h2>SECRUITY</h2>
<div class="security">
    <h4>Our website can't provide 100% safe, and database might get hacked at anytime</h4>
    <h4>so do not put your information(e.g. Email, Password) init</h4>
</div>
<p>--------------------------------------------------------------------------------------------------</p>
<h2>CHANGES TO THIS POLICY</h2>
<div class="change-privacy">
    <h4>We may update our Privacy Policy from time to time. We will notify you of any</h4>
    <h4>changes by posting the new Privacy Policy on this page.</h4>
    <h4>You are advised to review this Privacy Policy periodically for any changes.</h4>
    <h4>Changes to this Privacy Policy are effective when they are posted on this page.</h4>
    <h4>We will not change this agreement to allow the collection of your personal</h4>
    <h4>information or make other significant changes without your consent.</h4>
</div>
<p>--------------------------------------------------------------------------------------------------</p>
<h2>Family Link Disclosure Statement for parents whose children are under</h2>
<h2>13 (or the prescribed age in your country)</h2>
<div class="age-limit">
    <h4>User have to be age of 13 to create an Thefakebook account</h4>
    <h4>because we will collect user's data, including there email and password</h4>
    <h4>(But all password will be save in database and will be encrypted.)</h4>
</div>
<p>--------------------------------------------------------------------------------------------------</p>
<h2>CONTACT US</h2>
<div class="contact-us">
    <h4>If you have any question about this Privacy Policy, please contact us.</h4>
    <address>
        <a href="mailto:ericssonfakebook@gmail.com">Contact Us</a>
    </address>
</div>
<p>--------------------------------------------------------------------------------------------------</p>
{% endblock content %}