{% extends "layout.html" %}
{% block content %}
<h1>Terms of use</h1>

<br>

<h2>Welcome use Thefakebook</h2>

<br>

<h4>These terms of use apply to your use of Fakeboom and provide information about Thefakebook services, as follows. By creating an Thefakebook account or using Fakebook, you agree to these terms</h4>

<p>--------------------------------------------------------------------------------------------------</p>

<h2>Thefakebook service</h2>
<div class="terms-provide">
    <h4>We Provide personalized opportunities for people to create, connect, communicate, explore and share.</h4>
    <br>
    <h4>Users are diverse and different. We hope that you will strengthen your relationship with others by sharing experiences you truly care about. Therefore, we build a system that strives to understand the people and things that you and others care about, and use this information to help you create, find, join, and share experiences that are important to you. Some of them are selected content, features, discounts and accounts that you may be interested in, and provide you with multiple ways to experience Fakebok based on your and others' actions on Fakebook and other products</h4>
    <h4></h4>
</div>

<br>

<p>--------------------------------------------------------------------------------------------------</p>

<h2>Data policy</h2>
<div class="terms-data">
    <h4>We need to collect and use your information to provide services. In addition, it explains the many ways you can control your information, including control in the Fakebook privacy and security settings. You must agree to the data usage policy to use Fakebook.</h4>
</div>

<br>

<p>--------------------------------------------------------------------------------------------------</p>

<h2>Your Commitments</h2>
<div class="terms-promise">
    <h4>In return for our commitment to provide the Service, we require you to make the below commitments to us.</h4>
    
    <br>

    <h4>Who can user Thefakebook</h4>

    <br>

    <li><data value="21053">You must be at least 13 years old or the minimum legal age in your country to use Thefakebook</data></li>
    
    <br> 

    <h4>How you can't use Thefakebook</h4>

    <br>

    <li><data value="21054">You can't impersonate others or provide inaccurate information.</data></li>
    <li><data value="21055">You don't have to disclose your identity on Instagram, but you must provide us with accurate and up to date information (including registration information). Also, you may not impersonate someone you aren't, and you can't create an account for someone else unless you have their express permission.</data></li>
    <li><data value="21054">You can't do anything unlawful, misleading, or fraudulent or for an illegal or unauthorized purpose.</data></li>
    <li><data value="21054">You can't do anything to interfere with or impair the intended operation of the Service.</data></li>
    <li><data value="21054">You can't attempt to create accounts or access or collect information in unauthorized ways.This includes creating accounts or collecting information in an automated way without our express permission.</data></li>
    <li><data value="21054">You can't post private or confidential information or do anything that violates someone else's rights, including intellectual property.</data></li>
</div>

<br>

<p>--------------------------------------------------------------------------------------------------</p>

<h2>Updating These Terms</h2>
<div class="terms-updating">
    <h4>We may change our Service and policies, and we may need to make changes to these Terms so that they accurately reflect our Service and policies. Unless otherwise required by law, we will notify you (for example, through our Service) before we make changes to these Terms and give you an opportunity to review them before they go into effect. Then, if you continue to use the Service, you will be bound by the updated Terms. If you do not want to agree to these or any updated Terms, you can delete your account, here.</h4>
    <b>Revised: october 8, 2020</b>
</div>

{% endblock content %}