{% extends "layout.html" %} 
{% block content %} 
<div style="text-align:center">
    <h1>What types of blog should I avoid post?</h1>
                    </div>

        <br>
        
    <br>

<article class="article content-section">
    <div class="media-body">
        <div class="part-1">
              <h4>1. Create blog posts that serve your larger company goals.
            <br>Mistake: You think of ideas that only interest you
        
</h4>

                     <p>The reason you're blogging is to solve problems for your audience and, ultimately, to grow your business. So, all of your blog post ideas should <b>help serve those growth goals.</b> They should have natural tie-ins to issues in your industry and address specific questions and concerns your prospects have.</p>
                    
            </div>

            <br>

    <hr>

                        <br>

    <div class="part-2">
        <h4>2. Identify what resonates with your audience. 
    <br>Mistake: You forget about your persona
                                    
                        </h4>

                <p>By <b>defining your buyer persona</b> and the things that matter to them, you can bridge the gap with your content. </p>

                        </div>
        <br>
                                        <hr>


                    <br>

    <div class="part-3">
        <h4>3. Write like you talk.
            <br>Mistake: Your writing is too stiff
                                                            </h4>
          <p>It's okay to be more conversational in your writing -- in fact, we encourage it. The <b>more approachable your writing is</b>, the more people will enjoy reading it. People want to feel like they're doing business with real people, not robots.

            So loosen up your writing. Throw in contractions. Get rid of the jargon. Make a pun or two. That's how real people talk -- and that's what real people like to read.</p>

          </div>
        <br>

            <hr>
<br>

    <div class="part-4">
        <h4>4. Show your personality; don't tell it.
            <br>Mistake: You think people care about you as a writer
        
    </h4>

            <p>Even though people don't really care that it's you that's writing the post, you can infuse parts of your personality in your writing to make them feel more comfortable with you. How you do that is entirely up to you. Some people like to crack jokes, some like to make pop culture references, and others have a way with vivid descriptions.</p>
                     </div>
<br>

                     <hr>
        <br>

    <div class="part-5">
        <h4>5. Make your point again and again.
            <br>Mistake: You digress
</h4>

        <p>To prevent your writing from losing its audience, restate your point in every section of the article. The best blog posts commit to an overarching message and then deliver it gradually, expressing it multiple times in small ways from beginning to end.

            If you're writing about how much water a potted plant needs, for example, don't spend three paragraphs telling a story of how you came home to a dead fern after returning from a two-week vacation. This story offers real evidence of your point, but what is your point? Certain plants can't go without water for more than 14 days. That's one possible point, and it should be stated upfront.</p>
    </div>

            <br>
    
<hr>

                            <br>

    <div class="part-6">
        <h4>6. Start with a very specific working title.
            <br>Mistake: Your topics are too broad
    </h4>

    <p>Nailing really specific blog topics is crucial to knocking your first few posts out of the park. Let us help you brainstorm with our <b>Blog Ideas Generator</b>. This tool allows you to enter basic terms you know you want to cover, and then produces five sample blog titles that work for business blogs.

        Keep in mind that a working title isn't final -- it's just a concrete angle you can use to keep your writing on track. Once you nail this stage of the ideation process, it's much easier to write your blog posts.
        
        </p>
    </div>
    
<br>

                <hr>
    <br>

    <div class="part-7">
        <h4>7. Specific posts should still tie into the bigger picture. 
            <br>Mistake: You're don't tie a specific topic into your reader's broader struggle
 </h4>

    <p>You should be asking yourself: 

        -- What is at stake?
        -- What do they gain by taking action?
        -- What are they afraid of happening if they don't take action?
        All of these things can manifest in the content that you write for your blog post. Doing so will signal to your reader that you understand what they're going through and you want to help.</p>
    </div>

    <br>
                <hr>

        <br>

    <div class="part-8">
        <h4>8. Use a specific post type, create an outline, and use headers.
            <br>Mistake: Your writing is a brain dump
</h4>

    <p>The first thing you should do is choose what type of blog post you're going to write. Is it a how-to post? A list-based post? A curated collection post? A SlideShare presentation?

        Writing an outline makes a big difference. If you put in the time up front to organize your thoughts and create a logical flow in your post, the rest becomes easy -- you're basically just filling in the blanks.
        
        Using headers is also critical for reader experience.</p>

    </div>

    <br>

            <hr>

<br>

    <div class="part-9">
        <h4>9. Give your audience something to walk away with.
            <br>Mistake: You're relying on the conceptual instead of the concrete
</h4>

    <p>One of the biggest tenets of content creation is that it should be useful, and that means your audience should walk away with something. This might come in the form of a "how-to" as you recommend they implement a particular strategy, or it might simply be a suggestion for a tool or tactic to make a process easier.</p>

    </div>

    <br>

                        <hr>
            <br>

    <div class="part-10">
        <h4>10. Use data and research to back up the claims you make in your posts.
            <br>Mistake: You don't use data as evidence
</h4>

    <p>In any good story, you’ll offer a main argument, establish proof, and then end with a takeaway for the audience. You can use data in blog posts to introduce your main argument and show why it's relevant to your readers, or as proof of it throughout the body of the post.</p>
    </div>
<br>
        <hr>
    <br>

    <div class="part-11">
        <h4>11. Use examples to back up why what you're saying is important. 
            <br>Mistake: You're not adding enough context
                        </h4>

                        <p>A stronger way to share this with an audience might be to say, 'SMBs should expand their social media strategies to experiment with newer, cheaper channels.
                     For example, you might test running ads on question-and-answer platform Quora, or simply answer industry questions for which your product or service is an 
                        answer.'As bloggers, we become experts in our industry. Because of this, it's easy to forget about specificity when giving advice, explaining examples, or walking 
                through a common process. Even Pamela Bump, HubSpot's Staff Writer for Audience Growth, admits that she has been guilty of not going into enough depth in a first draft. 
                    Ask yourself questions like, "Will readers know what this big word means?", "Will they recognize this acronym?", or "Can they easily visualize this example, or do I 
                            need to add a visual aid?" From there, you can determine where you need to explain something more, or hyperlink potentially confusing words other blog posts that relate to them.</p>
    </div>

        <br>
<hr>

        <br>

    <div class="part-12">
        <h4>12. When drawing from others' ideas, cite them.
            <br>Mistake: Your content borders on plagiarism</h4>
        
            <p>Instead, take a few minutes to <b>understand how to cite other people's content in your blog posts</b>. It's not super complicated, but it's an essential thing to learn when you're first starting out.</p>
    </div>

<br>
        <hr>
    <br>

    <div class="part-13">
        <h4>13. Take 30 minutes to edit your post.
            <br>Mistake: You think you're done once the writing's done
</h4>

    <p>Everyone needs to edit their writing -- even the most experienced writers. Most times, our first drafts aren't all that great. So take the time you need to shape up your post. Fix typos, run-on sentences, and accidental its/it's mistakes. Make sure your story flows just as well as it did in your outline.</p>
    </div>

    <br>
            <hr>
        <br>

    <div class="part-14">
        <h4>14. At a certain point, just publish it.
            <br>Mistake: You try to make every post perfect</h4>

        <p>"perfect" -- and you're really never going to reach "perfect" anyway. So while you don't want to publish a post filled with factual inaccuracies and grammatical errors, it's not the end of the world if a typo slips through. It most likely won't affect how many views and leads it brings in.

            Plus, if you (or your readers) find the mistake, all of you have to do is update the post. No biggie. So give yourself a break once and a while -- perfect is the enemy of done.</p>
    </div>

<br>
        <hr>
    <br>

    <div class="part-15">
        <h4>15. Blog consistently with the help of an editorial calendar.
            <br>Mistake: You don't blog consistently
</h4>
        <p>Use it to get into the habit of planning your blog post topics ahead of time, publishing consistently, and even scheduling posts in advance if you're finding yourself having a particularly productive week.</p>
    </div>

<br>
        <hr>
                    <br>

    <div class="part-16">
        <h4>16. Focus on the long-term benefits of organic traffic.
            <br>Mistake: You concentrate your analytics on immediate traffic
</h4>

    <p>Instead of focusing on the sudden decay of short-term traffic, focus instead on the cumulative potential of organic traffic. Over time, given enough time, the traffic from day three and beyond of a single blog post will eclipse that big spike on days one and two <b>thanks to being found on search engine results pages through organic search</b>. You just have to give it a while.

        To help drive this long-term traffic, make sure you're writing blog posts that have durable relevance on a consistent basis. These posts <b>are called "evergreen" blog posts</b>: They're relevant year after year with little or no upkeep, valuable, and high quality. Over time, as you write more evergreen content and build search authority, those posts <b>will end up being responsible for a large percentage of your blog traffic</b>. It all starts with a slight shift in perspective from daily traffic to cumulative traffic so you can reframe the way you view your blog and its ROI entirely.</p>
    </div>

<br>

        <hr>

    <br>

    <div class="part-17">
        <h4>17. Add a subscription CTA to your blog and set up an email newsletter.
            <br>Mistake: You aren't growing subscribers
</h4>

<p>First, use your email marketing tool to set up a welcome email for new subscribers, as well as a regular email that pulls in your most recent blog posts. (HubSpot customers: You can use HubSpot's email tool to easily set up these regular email sends, as well as set up a welcome email for new subscribers.)

    Next, add subscription CTAs to your blog (and elsewhere, like the footer of your website) to make it easy for people to opt in. These CTAs should be simple, one-field email opt-in forms near the top of your blog, above the fold. As for where to put these CTAs, we typically place our blog CTAs at the bottom of our blog posts or add a slide-in, which you can learn how to do using a free tool called Leadin here.
    
    You can also create a dedicated landing page for subscribers that you can direct people to via other channels such as social media, other pages on your website, PPC, or email. (For a list of more simple ways to attract subscribers, read this blog post; for more advanced ideas, read this one.)
    
    Don't worry if you read through this list and are now thinking to yourself, Well this is awkward ... I've made literally every single one of these mistakes. Remember: I used the word "common" to describe these mistakes for a reason. The more you blog, the better you'll get at it -- and you'll reap the benefits in terms of traffic and leads in the process.
    
    We hope you'll use this list of mistakes as fuel for the fire to step up your blogging game. After all, the benefits of keeping up a healthy business blog will be well worth the time and effort.</p>
    </div>
        
    </div>

        </article>


{% endblock content %}